<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--是否开启大文件分隔策略-->
    <add key="BigFile.Split" value="true" />
    <!--当文件大于这个配置项时就执行文件分隔，单位：GB -->
    <add key="BigFile.SplitMinFileSize" value="10" />
    <!--当执行文件分割时，每个分隔出来的文件大小，单位：MB -->
    <add key="BigFile.SplitFileSize" value="5" />
    <add key="BigFile.FilePath" value="F:\迅雷下载\新建 DOC 文档.doc" />
    <add key="BigFile.FileSilitPathFormate" value="F:\test\test.doc" />
  </appSettings>
</configuration>